<div>
  <div>
    <%= post.title %>
  </div>
  <div>
    <%= post.text[0, 50] %> ...
  </div>
  <div>
    <div >Comments: <%= post.comments_counter %></div>
    <div >Likes: <%= post.likes_counter %></div>
  </div>
</div>